@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@plugin "./../../plugins/tailwind-color";
@plugin "./../../plugins/tailwind-slider";
@plugin "./../../plugins/tailwind-scrollbar";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('/fonts/digit/DS-DIGI.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply relative bg-white font-['Poppins']!;
  }
  * {
    @apply scrollbar:size-1 scrollbar-track:bg-gray-300 scrollbar-thumb:bg-app-500 dark:scrollbar-thumb:bg-zinc-900 dark:scrollbar-track:bg-zinc-600;
  }
  label {
    @apply font-bold text-gray-700 text-sm mb-1 block;
  }
  .ant-alert-message {
    @apply mb-0! font-bold;
  }
  .ant-alert-message,
  .ant-alert-description {
    @apply text-[12px]! text-gray-500!;
  }
}
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .ant-form-item-inline {
    @apply w-full;
  }
  .ant-form-item-inline .ant-form-item-control {
    @apply grow-[unset];
  }
  .ant-form-item-inline .ant-form-item-label {
    @apply flex-1;
  }
  .ant-form-item-row .ant-form-item-label {
    @apply pb-0.5;
  }
  .prompt-item {
    @apply flex flex-col p-4 space-y-2 border-solid border-b border-gray-200 transition-all duration-100 relative;
  }
  .prompt-item::before,
  .prompt-item::after {
    @apply absolute inset-0 opacity-0 transition-opacity duration-500;
    border-radius: inherit;
    content: '';
  }

  .prompt-item.selected-item {
    @apply border-l-4 border-l-app-500;
  }

  .prompt-item:hover::before {
    opacity: 1;
  }

  .prompt-item::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), var(--spot-color-light), transparent 40%);
    z-index: 3;
  }

  .prompt-item::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), var(--spot-color-light), transparent 40%);
    z-index: 1;
  }
}

@layer utilities {
  .underline {
    @apply hover:text-app-500 decoration-app-500 dark:decoration-app-400 dark:hover:decoration-app-500 dark:focus:ring-app-400/40 rounded-sm underline decoration-2 underline-offset-2 transition duration-100;
  }
  .ant-app {
    @apply flex h-[inherit] flex-col;
  }
  .glass {
    @apply min-h-[70px] w-full rounded-md bg-linear-to-r from-transparent to-white/30 p-8 mix-blend-hard-light shadow-md backdrop-blur-lg;
  }
  .font-digital {
    font-family: 'DS-Digital', monospace;
  }
  kbd {
    @apply mx-1 my-0.5 inline-flex min-h-5 items-center justify-center rounded border border-gray-300 text-app-500 bg-white px-1.5 py-0.5 text-xs font-semibold shadow-sm dark:border-gray-600 dark:bg-gray-700;
  }
}
